.ExEcWebsite-content > div > h1,h2,h3,h4,h5,h6,
.ExEcWebsite-content > div > div > h1,h2,h3,h4,h5,h6
{
    font-weight: bolder;
    margin-bottom: 1rem;
}
.ExEcWebsite-content > div
{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.ExEcWebsite-content > div > p,
.ExEcWebsite-content > div > div > p
{
    font-size:0.9rem;
    color: #636363;
    line-height: 2.1rem;
}  
.ExEcWebsite-content
{
    direction: rtl;
    overflow: hidden;
} 
b
{
    color: #000000;
    font-family: IranSans-b;
}
.store-text,
.service-text
{
    font-size: 1rem;
    text-align: center !important;
    color: rgb(108, 108, 108);
    line-height: 2rem;
}




@media (min-width:640px)
{
    .ExEcWebsite-content > div > h1,h2,h3,h4,h5,h6,
    .ExEcWebsite-content > div > div > h1,h2,h3,h4,h5,h6
    {
        font-size: 1.9rem;
    }
    .ExEcWebsite-content > div > p,
    .ExEcWebsite-content > div > div > p
    {
        text-align: right;
    }
    .store-text,
    .service-text
    {
        width: 100%;
    }
}




@media (max-width:640px)
{
    .ExEcWebsite-content > div > h1,h2,h3,h4,h5,h6,
    .ExEcWebsite-content > div > div > h1,h2,h3,h4,h5,h6
    {
        text-align: center;
        font-size: 1.2rem;
    }
    .ExEcWebsite-content > div > p,
    .ExEcWebsite-content > div > div > p
    {
        text-align: center;
    }
    .store-text,
    .service-text
    {
        width: 18rem;
    }
}


@media (min-width:1536px)
{
    .ExEcWebsite-content > div > h1,h2,h3,h4,h5,h6,
    .ExEcWebsite-content > div > div > h1,h2,h3,h4,h5,h6
    {
        text-align: right;
        font-size: 4rem;
    }
    .ExEcWebsite-content > div > p,
    .ExEcWebsite-content > div > div > p
    {
        text-align: right;
        line-height: 6rem;
        font-size: 2.5rem;
    }
    .store-text,
    .service-text
    {
        width: 100%;
        font-size: 2.5rem;
        line-height: 6rem;

    }
}