.SocalMedia > div > h1,h2,h3,h4,h5,h6و
.SocalMedia > div > div > h1,h2,h3,h4,h5,h6و
.SocalMedia > div > div > div > h1,h2,h3,h4,h5,h6
{
    font-weight: bolder;
    margin-bottom: 1rem;
    font-family: IranSans-b;
}
.SocalMedia > div
{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.SocalMedia > div > p,
.SocalMedia > div > div > p,
.SocalMedia > div > div > div > p
{
    color: #636363;
    line-height: 2.1rem;
} 
.SocalMedia
{
    direction: rtl;
    overflow: hidden;
} 
b
{
    color: #404040;
    font-weight: bolder;
    font-family: IranSans-b;
}
.SocalMedia-importance
{
    font-family: IranSans-r;
}
.socalMedia-services > div
{
    width: 30%;
}
.socalMedia-services > div > span
{
    font-family: IranSans-b;
    color: #444444;
}
.socalMedia-services > div > p
{
    font-family: IranSans-r;
    text-align: center;
    color:#7A7A7A;
    line-height: 1.8;
}




/* media query */

@media (max-width:640px)
{
    .SocalMedia > div > h1,h2,h3,h4,h5,h6,
    .SocalMedia > div > div > h1,h2,h3,h4,h5,h6,
    .SocalMedia > div > div > div > h1,h2,h3,h4,h5,h6
    {
        text-align: center;
        font-size: 1.2rem !important;
    }
    .SocalMedia > div > p,
    .SocalMedia > div > div > p,
    .SocalMedia > div > div > div > p
    {
        text-align: center;
        line-height: 2rem;
        font-size: 0.9rem;
    }
    .socalMedia-services > div
    {
        width: 100%;
    }
}

@media (min-width:640px)
{
    .SocalMedia > div > h1,h2,h3,h4,h5,h6,
    .SocalMedia > div > div > h1,h2,h3,h4,h5,h6,
    .SocalMedia > div > div > div > h1,h2,h3,h4,h5,h6
    {
        font-size: 1.9rem;
    }
    .SocalMedia > div > p,
    .SocalMedia > div > div > p,
    .SocalMedia > div > div > div > p
    {
        text-align: right;
        font-size:1rem;
        line-height: 2.1rem;
    }
}


@media (min-width:1536px)
{
    .SocalMedia > div > h1,h2,h3,h4,h5,h6,
    .SocalMedia > div > div > h1,h2,h3,h4,h5,h6,
    .SocalMedia > div > div > div > h1,h2,h3,h4,h5,h6
    {
        text-align: right;
        font-size: 2.5rem !important;
    }
    .SocalMedia > div > p,
    .SocalMedia > div > div > p,
    .SocalMedia > div > div > div > p
    {
        text-align: right;
        line-height: 5rem;
        font-size: 1.5rem;
    }  
    .h-45
    {
    height: 45rem;
    }
    .linkdin_img
    {
        width: 40%;
        height: 50%;
    }
}