.spinner
{
   animation: rotate 50s  ease-out infinite;
}
@keyframes rotate {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(10000deg)}
}

@media (max-width:425px)
{
    .new
    {
        width: 100%;
    }
}
@media (min-width:425px)
{
    .new
    {
        width: calc(50% - 1rem);
    }
}
@media (min-width:700px)
{
    .new
    {
        width: calc(33.333% - 1rem);
    }
}
@media (min-width:1440px)
{
    .new
    {
        width: calc(25% - 1rem);
    }
}