.Graphic-content > div > h1,h2,h3,h4,h5,h6,
.Graphic-content > div > div > h1,h2,h3,h4,h5,h6,
.Graphic-content > div > div > div > h1,h2,h3,h4,h5,h6
{
    font-weight: bolder;
    margin-bottom: 1rem;
    font-family: IranSans-b;
}
.Graphic-content > div
{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.Graphic-content > div > p,
.Graphic-content > div > div > p,
.Graphic-content > div > div > div > p
{
    color: #636363;
    line-height: 2.1rem;
} 
.Graphic-content
{
    direction: rtl;
    overflow: hidden;
} 
b
{
    color: #404040;
    font-weight: bolder;
    font-family: IranSans-b;
}
.graphic-services > div
{
    width: 30%;
    margin-bottom: 5rem;
    justify-content: space-between;
}
.graphic-services > div > img
{
    width: 10rem;
}
.graphic-services > div > p
{
    font-family: IranSans-r;
    color: gray;
}
img[alt='characterIcon']
{
    width: 8rem !important;
}

/* media query */

@media (max-width:640px)
{
    .Graphic-content > div > h1,h2,h3,h4,h5,h6,
    .Graphic-content > div > div > h1,h2,h3,h4,h5,h6,
    .Graphic-content > div > div > div > h1,h2,h3,h4,h5,h6
    {
        text-align: center;
        font-size: 1.2rem !important;
    }
    .Graphic-content > div > p,
    .Graphic-content > div > div > p,
    .Graphic-content > div > div > div > p
    {
        text-align: center;
        line-height: 2rem;
        font-size: 0.9rem;
    }
    .graphic-services > div 
    {
        width: 100% ;
    }
}

@media (min-width:640px)
{
    .Graphic-content > div > h1,h2,h3,h4,h5,h6,
    .Graphic-content > div > div > h1,h2,h3,h4,h5,h6,
    .Graphic-content > div > div > div > h1,h2,h3,h4,h5,h6
    {
        font-size: 1.9rem;
    }
    .Graphic-content > div > p,
    .Graphic-content > div > div > p,
    .Graphic-content > div > div > div > p
    {
        text-align: right;
        font-size:1rem;
        line-height: 2.1rem;
    }
}


@media (min-width:1536px)
{
    .Graphic-content > div > h1,h2,h3,h4,h5,h6,
    .Graphic-content > div > div > h1,h2,h3,h4,h5,h6,
    .Graphic-content > div > div > div > h1,h2,h3,h4,h5,h6
    {
        text-align: right;
        font-size: 2.5rem !important;
    }
    .Graphic-content > div > p,
    .Graphic-content > div > div > p,
    .Graphic-content > div > div > div > p
    {
        text-align: right;
        line-height: 5rem;
        font-size: 1.5rem;
    } 
    .graphic-services > div > p
    {
        font-size: 1.5rem;
        line-height: 2;
    }
    .graphic-services > div > b
    {
        font-size: 2rem;
    } 
    .graphic-services > div > img
    {
        width: 30rem;
    }
    img[alt='characterIcon']
    {
        width: 20rem !important;
    }
}