img[alt='comment']
{
    z-index: -1;
    right: 22rem;
    top: -2rem;
}
.rulls
{
    direction: rtl;
}
.rulls > li::marker
{
    content:url('../../../assets/img//play.png');
    background-size: 1px;
}
.Product-carsoule
{
    width: calc(33.333%);
}
.carsoule-parent
{
    width: 40rem;
}
.swiper-button-next::after
{
    content: 'prev' !important;
    font-size:  0.7rem !important;
    color: #000000;
    background-color: rgb(200, 200, 200);
    padding: 0.5rem;
    border-radius: 50%;
}
.swiper-button-prev::after
{
    content: 'next' !important;
    font-size:  0.7rem !important;
    color: #000000;
    background-color: rgb(200, 200, 200);
    padding: 0.5rem;
    border-radius: 50%;
}
.btn-telegram:hover
{
    color: #009dff;
    background-color: #fff;
}

@media (max-width:425px)
{
    .carsoule-parent
    {
        width: 15rem;
    }
    img[alt='comment']
    {
        top: 3rem;
        right: 0rem;
        width: 20rem;
    }
    .swiper-slide
    {
        width: 100% !important;
    }
}


@media(min-width:1536px)
{
    .Product-text
    {
        font-size: 2rem;
        line-height: 5rem;
    }
    img[alt='comment']
    {
        right: 60rem;
        top: -6rem;
        width: 50rem;
    }
    img[alt='postIMg']
    {
        width: 40rem;
        height: 40rem;
    }
    .carsoule-parent
    {
        width: 100rem;
    }
    .suggest-title
    {
        font-size: 2rem !important;
        color: #464646;
        line-height: 4rem;
    }
    .suggest-text
    {
        line-height: 3rem;
        height: 20rem;
    }
    .swiper-button-next::after
    {
        font-size:  4rem !important;
        margin-left: 5rem;
        padding: 1rem;
    }
    .swiper-button-prev::after
    {
        font-size:  4rem !important;
        margin-right: 5rem;
        padding: 1rem;
    }
    .rulls > li::marker
    {
        content: none;
    }
    .tagsIcon
    {
        transform: scale(5);
    }
    .documentImg
    {
        transform: scale(5);
    }
    .linkImg
    {
        transform: scale(4);
    }
}