.motionGraphic-content > div > h1,h2,h3,h4,h5,h6,
.motionGraphic-content > div > div > h1,h2,h3,h4,h5,h6,
.motionGraphic-content > div > div > div > h1,h2,h3,h4,h5,h6
{
    font-weight: bolder;
    margin-bottom: 1rem;
    font-family: IranSans-b;
}
.motionGraphic-content > div
{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.motionGraphic-content > div > p,
.motionGraphic-content > div > div > p,
.motionGraphic-content > div > div > div > p
{
    color: #636363;
    line-height: 2.1rem;
} 
.motionGraphic-content
{
    direction: rtl;
    overflow: hidden;
} 
b
{
    color: #404040;
    font-weight: bolder;
    font-family: IranSans-b;
}




/* media query */

@media (max-width:640px)
{
    .motionGraphic-content > div > h1,h2,h3,h4,h5,h6,
    .motionGraphic-content > div > div > h1,h2,h3,h4,h5,h6,
    .motionGraphic-content > div > div > div > h1,h2,h3,h4,h5,h6
    {
        text-align: center;
        font-size: 1.2rem !important;
    }
    .motionGraphic-content > div > p,
    .motionGraphic-content > div > div > p,
    .motionGraphic-content > div > div > div > p
    {
        text-align: center;
        line-height: 2rem;
        font-size: 0.9rem;
    }
}

@media (min-width:640px)
{
    .motionGraphic-content > div > h1,h2,h3,h4,h5,h6,
    .motionGraphic-content > div > div > h1,h2,h3,h4,h5,h6,
    .motionGraphic-content > div > div > div > h1,h2,h3,h4,h5,h6
    {
        font-size: 1.9rem;
    }
    .motionGraphic-content > div > p,
    .motionGraphic-content > div > div > p,
    .motionGraphic-content > div > div > div > p
    {
        text-align: right;
        font-size:1rem;
        line-height: 2.1rem;
    }
}


@media (min-width:1536px)
{
    .motionGraphic-content > div > h1,h2,h3,h4,h5,h6,
    .motionGraphic-content > div > div > h1,h2,h3,h4,h5,h6,
    .motionGraphic-content > div > div > div > h1,h2,h3,h4,h5,h6
    {
        text-align: right;
        font-size: 4rem !important;
    }
    .motionGraphic-content > div > p,
    .motionGraphic-content > div > div > p,
    .motionGraphic-content > div > div > div > p
    {
        text-align: right;
        line-height: 6rem;
        font-size: 2.5rem;
    }  
    .h-45
    {
    height: 45rem;
    }
    img[alt='stopmotion']
    {
        width: 40%;
        height: 40rem;
    }
    .motionImg
    {
        width: 50rem;
        height: 40rem
    }
}