@font-face {
  font-family: shabnam;
  src: url("./fonts/Shabnam/Shabnam.woff2");
}
@font-face {
  font-family: shabnamBold;
  src: url("./fonts/Shabnam/Shabnam-Bold.woff2");
}
@font-face {
  font-family: shabnamMedium;
  src: url("./fonts/Shabnam/Shabnam-Medium.woff2");
}
@font-face {
  font-family: shabnamThin;
  src: url("./fonts/Shabnam/Shabnam-Thin.woff2");
}
@font-face {
  font-family: shabnamLight;
  src: url("./fonts/Shabnam/Shabnam-Light.woff2");
}
@font-face {
  font-family: vasir;
  src: url("./fonts/Vasir/Vazirmatn-Medium.woff2");
}
@font-face {
  font-family: vasirbold;
  src: url("./fonts/Vasir/Vazirmatn-Bold.woff2");
}
@font-face {
  font-family: vasirLight;
  src: url("./fonts/Vasir/Vazirmatn-Light.woff2");
}
@font-face {
  font-family: vasirBlack;
  src: url("./fonts/Vasir/Vazirmatn-ExtraBold.woff2");
}
@font-face {
  font-family: IranSans-b;
  src: url('./assets/font/IranSans/Woff2/IRANSansXFaNum-Black.woff2');
}
@font-face {
  font-family: IranSans-m;
  src: url('./assets/font/IranSans/Woff2/IRANSansXFaNum-Medium.woff2');
}
@font-face {
  font-family: IranSans-r;
  src: url('./assets//font/IranSans/Woff2/IRANSansXFaNum-Regular.woff2');
}



body {
  font-family: shabnamThin;
}
html {
  scroll-behavior: smooth;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p
{
  font-family:shabnamLight ;
}
.text-last
{
  text-align-last: center;
}
.background-gra-green
{
  background: linear-gradient(180deg,#354558,#505e6f);
}
.border_b_g
{
  border-bottom: solid #00FFCA 3px !important;
}
.border_
{
  border: solid !important;
}
.line-clamp-1
{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.line-clamp-2
{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.line-clamp-3
{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.line-clamp-4
{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.line-clamp-5
{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.line-clamp-6
{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}
.line-clamp-7
{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
}
.footer-border
{
  border-top: solid rgb(0, 221, 88) 5px;
}
::-webkit-scrollbar
{
  width: 0.6rem;
}
::-webkit-scrollbar-track
{
    background-color: rgb(229, 229, 229);
}
::-webkit-scrollbar-button
{
    display: none;
}
::-webkit-scrollbar-thumb
{
    background-color: rgb(174, 174, 174);
}
.cate-scroll::-webkit-scrollbar
{
   width: 2px;
}
.cate-scroll::-webkit-scrollbar-thumb
{
  background-color: rgb(255, 102, 0);
}
.dashboard_side::-webkit-scrollbar
{
  width: 1px;
}
.dashboard_side::-webkit-scrollbar-thumb
{
    background-color: #00FFCA;
}
.scroll-dash-content::-webkit-scrollbar
{
  width: 1px;
}
.scroll-dash-content::-webkit-scrollbar-thumb
{
  background-color: #00FFCA;
}
.comment-scroll::-webkit-scrollbar
{
  width: 1px;
}
.comment-scroll::-webkit-scrollbar-thumb
{
  background-color: #ff6200;
}
.scroll_NON
{
  overflow: hidden !important;
}
.s
.span
{
  line-height: 1.5rem;
}
.opacity-motion
{
  animation: opacity 1s ease-out 1 ;
}
.scale-motion
{
  animation: scale 0.5s ease-out 1 ;
}
@keyframes opacity {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
@keyframes scale {
  0%{scale: 0;}
  100%{scale: 1;}
}
.login-gradient
{
  background: radial-gradient(#82CD47,#379237);
}
@media(max-width:640px)
{
    .end-box
    {
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
    .end-box > img
    {
        width: 80rem;
    }
    .end-box > div
    {
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
    .end-box > div > span
    {
        font-size: 1rem;
        line-height: 2.5rem;
    }
    .end-box > div > button
    {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    } 
    .span
    {
      line-height: 2rem;
    }
}

@media(min-width:1536px)
{
    .text-2rem
    {
      font-size: 2rem !important;
    }
    .end-box
    {
        justify-content: space-between;
        align-items: center;
    }
    .end-box > img
    {
        width: 50rem;
    }
    .end-box > div
    {
        align-items: center;
    }
    .end-box > div > span
    {
        font-size: 2rem;
        line-height: 5rem;
    }
    .end-box > div > button
    {
        font-size: 1.5rem;
        line-height: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 60%;
    } 
    .span
    {
        line-height: 3rem;
        font-size: 1.5rem;
    }
    .Toast_info
    {
        width:30% !important;
        font-size: 1.1rem !important;
        padding: 2rem !important;
    }
    .Toastify__toast
    {
        padding: 2rem !important;
        gap: 1rem !important;
    }
    .Toastify__close-button
    {
        transform: scale(2) !important;
    }
    .Toastify--animate-icon
    {
        transform: scale(1.5) !important;
    }
}
