.SaleReadyTemplate > div > h1,h2,h3,h4,h5,h6,
.SaleReadyTemplate > div > div > h1,h2,h3,h4,h5,h6,
.SaleReadyTemplate > div > div > div > h1,h2,h3,h4,h5,h6
{
    font-weight: bolder;
    margin-bottom: 1rem;
    font-family: IranSans-b;
}
.SaleReadyTemplate > div
{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.SaleReadyTemplate > div > p,
.SaleReadyTemplate > div > div > p,
.SaleReadyTemplate > div > div > div > p
{
    font-size:1rem;
    color: #636363;
    text-align: right;
    line-height: 2.1rem;
} 
.SaleReadyTemplate
{
    direction: rtl;
    overflow: hidden;
} 
b
{
    color: #000000;
    font-family: IranSans-b;
}

@media (max-width:640px)
{
    .SaleReadyTemplate > div > h1,h2,h3,h4,h5,h6,
    .SaleReadyTemplate > div > div > h1,h2,h3,h4,h5,h6,
    .SaleReadyTemplate > div > div > div > h1,h2,h3,h4,h5,h6
    {
        text-align: center;
        font-size: 1.2rem;
    }
    .SaleReadyTemplate > div > p,
    .SaleReadyTemplate > div > div > p,
    .SaleReadyTemplate > div > div > div > p 
    {
        text-align: center;
    }
    .store-text,
    .service-text
    {
        width: 18rem;
    }
}

@media (min-width:640px)
{
    .SaleReadyTemplate > div > h1,h2,h3,h4,h5,h6,
    .SaleReadyTemplate > div > div > h1,h2,h3,h4,h5,h6,
    .SaleReadyTemplate > div > div > div > h1,h2,h3,h4,h5,h6
    {
        font-size: 1.9rem;
    }
    .SaleReadyTemplate > div > p,
    .SaleReadyTemplate > div > div > p,
    .SaleReadyTemplate > div > div > div > p
    {
        text-align: right;
    }
    .store-text,
    .service-text
    {
        width: 100%;
    }
}


@media (min-width:1536px)
{
    .SaleReadyTemplate > div > h1,h2,h3,h4,h5,h6,
    .SaleReadyTemplate > div > div > h1,h2,h3,h4,h5,h6,
    .SaleReadyTemplate > div > div > div > h1,h2,h3,h4,h5,h6
    {
        text-align: right;
        font-size: 4rem;
    }
    .SaleReadyTemplate > div > p,
    .SaleReadyTemplate > div > div > p,
    .SaleReadyTemplate > div > div > div > p
    {
        text-align: right;
        line-height: 6rem;
        font-size: 2.5rem;
    }
}



